<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside
    [ngClass]="{
      'w-64': isSidebarOpen,
      'w-0 overflow-hidden': !isSidebarOpen
    }"
    class="bg-gray-800 text-white transition-all duration-300 flex flex-col"
  >
    <div class="p-4 text-2xl font-bold border-b border-gray-700">
      Admin
    </div>
    <nav class="flex-1 p-4">
      <ul class="space-y-2">
        <li>
          <a routerLink="/products"
             routerLinkActive="bg-gray-700"   class="flex items-center p-2 rounded hover:bg-gray-700 group">
            <lucide-icon [img]="Package"  class="w-5 h-5 mr-2 text-white group-hover:text-yellow-400 transition"></lucide-icon>
            Productos
          </a>
        </li>
        <li>
          <a routerLink="/product-types"
             routerLinkActive="bg-gray-700"   class="flex items-center p-2 rounded hover:bg-gray-700 group">
            <lucide-icon [img]="Package"  class="w-5 h-5 mr-2 text-white group-hover:text-yellow-400 transition"></lucide-icon>
            Categorías
          </a>
        </li>

        <!-- Item padre -->
        <li>
          <button
            (click)="inventoryOpen = !inventoryOpen"
            class="w-full flex items-center justify-between p-2 rounded hover:bg-gray-700 text-left focus:outline-none"
          >
            <span>🗃️ Inventario</span>
            <lucide-icon
              [img]="ChevronDown"
              class="w-4 h-4 transition-transform"
              [class.rotate-180]="inventoryOpen"
            ></lucide-icon>
          </button>

          <!-- Submenú, solo si inventoryOpen === true -->
          <ul *ngIf="inventoryOpen" class="ml-4 mt-1 space-y-1">
            <li>
              <a
                routerLink="/inventory/ingreso"
                routerLinkActive="bg-gray-700"
                class="block p-2 rounded hover:bg-gray-700 text-sm"
              >
                ➕ Ingreso
              </a>
            </li>
            <li>
              <a
                routerLink="/inventory/salida"
                routerLinkActive="bg-gray-700"
                class="block p-2 rounded hover:bg-gray-700 text-sm"
              >
                ➖ Salida
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="p-4 border-t border-gray-700">
      <button (click)="logout()" class="w-full bg-red-600 px-3 py-2 rounded hover:bg-red-700 text-white">
        🔒 Cerrar sesión
      </button>
    </div>
  </aside>

  <!-- Main -->
  <div class="flex-1 flex flex-col">
    <!-- Header -->
    <header class="bg-white shadow p-4 flex items-center">
      <button class="text-gray-700 mr-4" (click)="toggleSidebar()">
        ☰
      </button>
      <h1 class="text-xl font-semibold">Panel de Administración</h1>
    </header>

    <!-- Main Content -->
    <main class="p-6 overflow-auto flex-1 bg-gray-100">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
