:host ::ng-deep .ng-select-tailwind .ng-select-container {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  color: #1f2937;
  font-size: 0.875rem;
}

:host ::ng-deep .ng-dropdown-panel {
  z-index: 50;
  background-color: white;
  border: 1px solid #d1d5db;
}
