/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;




.ng-select.ng-select-tailwind .ng-select-container {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  color: #1f2937;
  font-size: 0.875rem;
  min-height: 2.25rem; /* similar a input */
}

.ng-select.ng-select-tailwind .ng-select-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px rgba(147, 197, 253, 0.5);
}

.ng-dropdown-panel {
  background-color: white;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.ng-dropdown-panel .ng-option {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.ng-dropdown-panel .ng-option-selected {
  background-color: #e5f4ff; /* azul claro */
}
